* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    margin: auto;
}

.form-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    color: #fff;
    transform: translateY(0);
    transition: transform .5s ease-in-out;
}

.form-container.formHidden {
    transform: translateY(100%);
}

.form-container .show-hide {
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 3px 30px;
    border-top-left-radius: 5px;
    background: inherit;
    font-size: 20px;
    cursor: pointer;
}

form {
    max-width: 1140px;
    margin: auto;
    padding: 20px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    line-height: 30px;
}

form > div > header {
    width: 125px;
    font-weight: bold;
}

form > div > span {
    width: 125px;
}

label {
    margin-right: 1em;
}

input {
    vertical-align: middle;
}

input[type=range] {
    width: 100%;
}

input[type=checkbox] {
    margin-right: .75em;
}

@media only screen and (min-width: 770px) {
    form {
        max-width: 750px;
    }

    form > div {
        flex-direction: row;
    }

    form > div > header {
        text-align: right;
    }

    form > div > div {
        margin: 0 30px;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 985px) {
    form {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    form {
        max-width: 1170px;
    }
}
